src/main/mule/globalweather_api.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
    <apikit-soap:config name="GlobalWeatherSoap-Config" port="GlobalWeatherSoap" service="GlobalWeather" wsdlLocation="global-weather.wsdl" soapVersion="SOAP11"/>
    <apikit-soap:config name="GlobalWeatherSoap12-Config" service="GlobalWeather" port="GlobalWeatherSoap12" doc:name="APIKit for SOAP Configuration" doc:id="19acce23-ca6e-422d-bea3-6627ad85f0ad" soapVersion="SOAP12" wsdlLocation="api/global-weather.wsdl" />
	<apikit:config outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" doc:name="Router" doc:id="3b51e22e-a4ac-4571-a64e-d16ad4095b44" name="GlobalWeatherHttp-Config" raml="api/global-weatherapi.raml" />
	<flow name="api-main">
        <http:listener config-ref="Global_HTTP_Listener_Config_For_SOAP" path="/GlobalWeather/*" doc:name="Common HTTP Listener">
            <http:response statusCode="#[vars.httpStatus default 200]"/>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <choice doc:name="Service Router" doc:id="4cc53350-20bb-47ce-a586-8550f3738dda" >
			<when expression="#[((attributes.headers['Content-Type'] default '') contains 'application/soap+xml')
or (attributes.requestUri contains '?wsdl')]" >
				<logger level="INFO" doc:name="Logger" doc:id="21838018-06b4-4fc5-aaed-10a07f4fd2e4" message="SOAP 1.2 Request"/>
				<apikit-soap:router doc:name="For GlobalWeatherSoap12" doc:id="c4ee87c7-425d-4a7b-a66c-94a2696db975" config-ref="GlobalWeatherSoap12-Config">
					<apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
				</apikit-soap:router>
			</when>
			<when expression="#[(attributes.headers['Content-Type'] default '') contains 'text/xml']">
			<logger level="INFO" doc:name="Logger" doc:id="86baf182-5402-4445-996e-df35ab031e9c" message="#[attributes.requestUri]"/>
				<apikit-soap:router doc:name="For GlobalWeatherSoap1.1" doc:id="39baf8e0-5e7d-4573-976f-1a4770d2a6d3" config-ref="GlobalWeatherSoap-Config" >
					<apikit-soap:attributes ><![CDATA[#[
              %dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
				</apikit-soap:router>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="58eae578-4ef6-4500-91f0-65c9deec5c6b" message="General HTTP Request" />
				<apikit:router doc:name="For GlobalWeather Http Binding" doc:id="178d5580-63ba-4d24-b978-360565af2f2c" config-ref="GlobalWeatherHttp-Config" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5ec4a93f-75af-4bef-84b7-8630b1f71c0f" type="APIKIT-SOAP:FAULT, APIKIT-SOAP:ROUTER">
				<ee:transform doc:name="SOAP Fault Response" doc:id="a94c91b9-da2c-4774-84d9-d775f19d6ffa" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    soap#body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: error.detailedDescription
        }
    } write "application/xml"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    
    <flow name="GetWeather:\GlobalWeatherSoap-Config">
        <ee:transform doc:id="f0cf9187-fce7-46f6-b974-2ff8761a8edb" doc:name="Reply Mock Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns web http://www.webserviceX.NET
---
{
    soap#body: {
        web#GetWeatherResponse: {
            web#GetWeatherResult: "<NewDataSet>
    <Location>Melbourne</Location>
    <Time>11 AM</Time>
    <Wind>15 km per hour</Wind>
    <Visibility>10 km</Visibility>
    <SkyConditions>sunny</SkyConditions>
    <Temperature>18</Temperature>
    <DewPoint>2 C</DewPoint>
    <RelativeHumidity>35</RelativeHumidity>
    <Status>Normal</Status>
</NewDataSet>" as CData
         }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <error-handler>
            <on-error-continue doc:id="ec277f44-b473-41b1-817f-7123a7a3526d" doc:name="On Error Continue" enableNotifications="true" logException="true">
                <ee:transform doc:id="048cac65-58aa-4dd1-a0b6-5e46cd63cc4e" doc:name="SOAP Fault Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    soap#body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: error.detailedDescription
        }
    } write "application/xml"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>
    <flow name="GetCitiesByCountry:\GlobalWeatherSoap-Config">
        <ee:transform doc:id="e01c414f-f0d6-4ba1-a99c-2625f7e5cba2" doc:name="Reply Mock Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
ns web http://www.webserviceX.NET
---
{
    soap#body: {
        web#GetCitiesByCountryResponse: {
	            web#GetCitiesByCountryResult : "<NewDataSet>
  <Table>
    <Country>Australia</Country>
    <City>Archerfield Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Amberley Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Alice Springs Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Brisbane Airport M. O</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Coolangatta Airport Aws</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Cairns Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Charleville Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Gladstone</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Longreach Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Mount Isa Amo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Mackay Mo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Oakey Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Proserpine Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Rockhampton Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Broome Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Townsville Amo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Weipa City</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Gove Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Tennant Creek Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Yulara Aws</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Albury Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Devonport East</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Goldstream Aws</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>East Sale Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Hobart Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Launceston Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Laverton Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Moorabbin Airport Aws</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Mount Gambier Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Mildura Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Melbourne Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Macquarie Island</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Wynyard West</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Adelaide Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Albany Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Broken Hill Patton Street</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Ceduna Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Derby</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Darwin Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Bullsbrook Pearce Amo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Edinburgh M. O.</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Forrest Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Geraldton Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Kalgoorlie Boulder Amo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Kununurra Kununurra Aws</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Leigh Creek Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Learmonth Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Meekatharra Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Port Hedland Pardoo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Parafield Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Belmont Perth Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Katherine Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Woomera Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Bankstown Airport Aws</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Canberra</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Coffs Harbour Mo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Cooma</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Camden Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Dubbo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Norfolk Island Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Nowra Ran Air Station</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Richmond Aus-Afb</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Sydney Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Tamworth Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Wagga Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Williamtown Aerodrome</City>
  </Table>
</NewDataSet>" as CData
	            }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <error-handler>
            <on-error-continue doc:id="459e73f4-93c5-4eb6-baab-b2baf0aa1969" doc:name="On Error Continue" enableNotifications="true" logException="true">
                <ee:transform doc:id="31150139-6bd8-4662-b181-c5d68e16f129" doc:name="SOAP Fault Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    soap#body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: error.detailedDescription
        }
    } write "application/xml"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>
    <flow name="GetWeather:\GlobalWeatherSoap12-Config">
        <ee:transform doc:id="29312156-890c-4c81-949b-0b547cc1a868" doc:name="Reply Mock Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://www.w3.org/2003/05/soap-envelope
ns web http://www.webserviceX.NET
---
{
    soap#body: {
        web#GetWeatherResponse: {
            web#GetWeatherResult: "<NewDataSet>
    <Location>Melbourne</Location>
    <Time>11 AM</Time>
    <Wind>15 km per hour</Wind>
    <Visibility>10 km</Visibility>
    <SkyConditions>sunny</SkyConditions>
    <Temperature>18</Temperature>
    <DewPoint>2 C</DewPoint>
    <RelativeHumidity>35</RelativeHumidity>
    <Status>Normal</Status>
</NewDataSet>" as CData
         }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <error-handler>
            <on-error-continue doc:id="4f2f6d20-c52d-4a43-9467-2757f0a46ebc" doc:name="On Error Continue" enableNotifications="true" logException="true">
                <ee:transform doc:id="34097f96-94b1-4fff-837c-54c6cb41e63e" doc:name="SOAP Fault Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://www.w3.org/2003/05/soap-envelope
---
{
    soap#body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: error.detailedDescription
        }
    } write "application/xml"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>
    <flow name="GetCitiesByCountry:\GlobalWeatherSoap12-Config">
        <ee:transform doc:id="bb5515a8-6bb8-4d65-b972-2ecf0c7091a6" doc:name="Reply Mock Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://www.w3.org/2003/05/soap-envelope
ns web http://www.webserviceX.NET
---
{
    soap#body: {
        web#GetCitiesByCountryResponse: {
	            web#GetCitiesByCountryResult : "<NewDataSet>
  <Table>
    <Country>Australia</Country>
    <City>Archerfield Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Amberley Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Alice Springs Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Brisbane Airport M. O</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Coolangatta Airport Aws</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Cairns Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Charleville Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Gladstone</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Longreach Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Mount Isa Amo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Mackay Mo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Oakey Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Proserpine Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Rockhampton Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Broome Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Townsville Amo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Weipa City</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Gove Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Tennant Creek Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Yulara Aws</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Albury Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Devonport East</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Goldstream Aws</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>East Sale Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Hobart Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Launceston Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Laverton Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Moorabbin Airport Aws</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Mount Gambier Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Mildura Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Melbourne Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Macquarie Island</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Wynyard West</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Adelaide Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Albany Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Broken Hill Patton Street</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Ceduna Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Derby</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Darwin Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Bullsbrook Pearce Amo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Edinburgh M. O.</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Forrest Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Geraldton Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Kalgoorlie Boulder Amo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Kununurra Kununurra Aws</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Leigh Creek Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Learmonth Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Meekatharra Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Port Hedland Pardoo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Parafield Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Belmont Perth Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Katherine Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Woomera Aerodrome</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Bankstown Airport Aws</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Canberra</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Coffs Harbour Mo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Cooma</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Camden Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Dubbo</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Norfolk Island Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Nowra Ran Air Station</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Richmond Aus-Afb</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Sydney Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Tamworth Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Wagga Airport</City>
  </Table>
  <Table>
    <Country>Australia</Country>
    <City>Williamtown Aerodrome</City>
  </Table>
</NewDataSet>" as CData
	            }
    } write "application/xml"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <error-handler>
            <on-error-continue doc:id="08ddfae5-80b0-44f6-bfbd-8174b1e330c6" doc:name="On Error Continue" enableNotifications="true" logException="true">
                <ee:transform doc:id="accbcb9e-615c-4df9-a60c-2b73dc1cf66e" doc:name="SOAP Fault Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://www.w3.org/2003/05/soap-envelope
---
{
    soap#body: {
        soap#Fault: {
            faultcode: "soap:Server",
            faultstring: error.detailedDescription
        }
    } write "application/xml"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>
	<flow name="api-console" doc:id="b2bbf46e-d524-4ba7-b073-bbbfc9ffc0b2" >
		<http:listener doc:name="API Console Common Listener" doc:id="b96e78d3-6b64-4ef9-bb52-6e76798a1d5a" config-ref="Global_HTTP_Listener_Config_For_SOAP" path="/console/*" >
			<http:response statusCode="#[vars.httpStatus default 200]" >
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<apikit:console doc:name="GlobalWeather API Console" doc:id="6d30ae55-918a-4bbf-b42b-71af7cac641c" config-ref="GlobalWeatherHttp-Config" />
		<error-handler >
			<on-error-propagate doc:name="On Error Propagate" doc:id="ba178f74-a7e7-4a3d-93df-1df68ea6ed09" type="APIKIT:NOT_FOUND" >
				<ee:transform doc:name="Error Message" doc:id="34374c00-148b-48c6-a3af-d2cc64bf9b9d" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Resource not found"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	    <flow name="get:\GetCitiesByCountry:GlobalWeatherHttp-Config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="40dc7185-7f1a-471c-b7e9-98d4bd2d9c32" doc:name="Reply Mock Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
  NewDataSet: {
    Table: [
	{
    Country: "Australia",
    City: "Archerfield Aerodrome",
  },
  {
    Country: "Australia",
    City: "Amberley Aerodrome",
  },
  {
    Country: "Australia",
    City: "Alice Springs Aerodrome",
  },
  {
    Country: "Australia",
    City: "Brisbane Airport M. O",
  },
  {
    Country: "Australia",
    City: "Coolangatta Airport Aws",
  },
  {
    Country: "Australia",
    City: "Cairns Airport",
  },
  {
    Country: "Australia",
    City: "Charleville Airport",
  },
  {
    Country: "Australia",
    City: "Gladstone",
  },
  {
    Country: "Australia",
    City: "Longreach Airport",
  },
  {
    Country: "Australia",
    City: "Mount Isa Amo",
  },
  {
    Country: "Australia",
    City: "Mackay Mo",
  },
  {
    Country: "Australia",
    City: "Oakey Aerodrome",
  },
  {
    Country: "Australia",
    City: "Proserpine Airport",
  },
  {
    Country: "Australia",
    City: "Rockhampton Airport",
  },
  {
    Country: "Australia",
    City: "Broome Airport",
  },
  {
    Country: "Australia",
    City: "Townsville Amo",
  },
  {
    Country: "Australia",
    City: "Weipa City",
  },
  {
    Country: "Australia",
    City: "Gove Airport",
  },
  {
    Country: "Australia",
    City: "Tennant Creek Airport",
  },
  {
    Country: "Australia",
    City: "Yulara Aws",
  },
  {
    Country: "Australia",
    City: "Albury Airport",
  },
  {
    Country: "Australia",
    City: "Devonport East",
  },
  {
    Country: "Australia",
    City: "Goldstream Aws",
  },
  {
    Country: "Australia",
    City: "East Sale Aerodrome",
  },
  {
    Country: "Australia",
    City: "Hobart Airport",
  },
  {
    Country: "Australia",
    City: "Launceston Airport",
  },
  {
    Country: "Australia",
    City: "Laverton Aerodrome",
  },
  {
    Country: "Australia",
    City: "Moorabbin Airport Aws",
  },
  {
    Country: "Australia",
    City: "Mount Gambier Aerodrome",
  },
  {
    Country: "Australia",
    City: "Mildura Airport",
  },
  {
    Country: "Australia",
    City: "Melbourne Airport",
  },
  {
    Country: "Australia",
    City: "Macquarie Island",
  },
  {
    Country: "Australia",
    City: "Wynyard West",
  },
  {
    Country: "Australia",
    City: "Adelaide Airport",
  },
  {
    Country: "Australia",
    City: "Albany Airport",
  },
  {
    Country: "Australia",
    City: "Broken Hill Patton Street",
  },
  {
    Country: "Australia",
    City: "Ceduna Airport",
  },
  {
    Country: "Australia",
    City: "Derby",
  },
  {
    Country: "Australia",
    City: "Darwin Airport",
  },
  {
    Country: "Australia",
    City: "Bullsbrook Pearce Amo",
  },
  {
    Country: "Australia",
    City: "Edinburgh M. O.",
  },
  {
    Country: "Australia",
    City: "Forrest Airport",
  },
  {
    Country: "Australia",
    City: "Geraldton Airport",
  },
  {
    Country: "Australia",
    City: "Kalgoorlie Boulder Amo",
  },
  {
    Country: "Australia",
    City: "Kununurra Kununurra Aws",
  },
  {
    Country: "Australia",
    City: "Leigh Creek Airport",
  },
  {
    Country: "Australia",
    City: "Learmonth Airport",
  },
  {
    Country: "Australia",
    City: "Meekatharra Airport",
  },
  {
    Country: "Australia",
    City: "Port Hedland Pardoo",
  },
  {
    Country: "Australia",
    City: "Parafield Airport",
  },
  {
    Country: "Australia",
    City: "Belmont Perth Airport",
  },
  {
    Country: "Australia",
    City: "Katherine Aerodrome",
  },
  {
    Country: "Australia",
    City: "Woomera Aerodrome",
  },
  {
    Country: "Australia",
    City: "Bankstown Airport Aws",
  },
  {
    Country: "Australia",
    City: "Canberra",
  },
  {
    Country: "Australia",
    City: "Coffs Harbour Mo",
  },
  {
    Country: "Australia",
    City: "Cooma",
  },
  {
    Country: "Australia",
    City: "Camden Airport",
  },
  {
    Country: "Australia",
    City: "Dubbo",
  },
  {
    Country: "Australia",
    City: "Norfolk Island Airport",
  },
  {
    Country: "Australia",
    City: "Nowra Ran Air Station",
  },
  {
    Country: "Australia",
    City: "Richmond Aus-Afb",
  },
  {
    Country: "Australia",
    City: "Sydney Airport",
  },
  {
    Country: "Australia",
    City: "Tamworth Airport",
  },
  {
    Country: "Australia",
    City: "Wagga Airport",
  },
  {
    Country: "Australia",
    City: "Williamtown Aerodrome",
  }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\GetWeather:GlobalWeatherHttp-Config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="a2889b52-48d8-4c91-811c-ce578c3bef90" doc:name="Reply Mock Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
  NewDataSet: {
    Location: "Melbourne",
    Time: "11 AM",
    Wind: "15 km per hr",
    Visibility: "10 km",
    SkyConditions: "sunny",
    Temperature: 18,
    DewPoint: "2 C",
    RelativeHumidity: 35,
    Status: "Normal"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\GetCitiesByCountry:application\x-www-form-urlencoded:GlobalWeatherHttp-Config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="d664fddf-2edd-427a-a311-a21ae70e2979" doc:name="Reply Mock Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
  NewDataSet: {
    Table: [
      	{
    Country: "Australia",
    City: "Archerfield Aerodrome",
  },
  {
    Country: "Australia",
    City: "Amberley Aerodrome",
  },
  {
    Country: "Australia",
    City: "Alice Springs Aerodrome",
  },
  {
    Country: "Australia",
    City: "Brisbane Airport M. O",
  },
  {
    Country: "Australia",
    City: "Coolangatta Airport Aws",
  },
  {
    Country: "Australia",
    City: "Cairns Airport",
  },
  {
    Country: "Australia",
    City: "Charleville Airport",
  },
  {
    Country: "Australia",
    City: "Gladstone",
  },
  {
    Country: "Australia",
    City: "Longreach Airport",
  },
  {
    Country: "Australia",
    City: "Mount Isa Amo",
  },
  {
    Country: "Australia",
    City: "Mackay Mo",
  },
  {
    Country: "Australia",
    City: "Oakey Aerodrome",
  },
  {
    Country: "Australia",
    City: "Proserpine Airport",
  },
  {
    Country: "Australia",
    City: "Rockhampton Airport",
  },
  {
    Country: "Australia",
    City: "Broome Airport",
  },
  {
    Country: "Australia",
    City: "Townsville Amo",
  },
  {
    Country: "Australia",
    City: "Weipa City",
  },
  {
    Country: "Australia",
    City: "Gove Airport",
  },
  {
    Country: "Australia",
    City: "Tennant Creek Airport",
  },
  {
    Country: "Australia",
    City: "Yulara Aws",
  },
  {
    Country: "Australia",
    City: "Albury Airport",
  },
  {
    Country: "Australia",
    City: "Devonport East",
  },
  {
    Country: "Australia",
    City: "Goldstream Aws",
  },
  {
    Country: "Australia",
    City: "East Sale Aerodrome",
  },
  {
    Country: "Australia",
    City: "Hobart Airport",
  },
  {
    Country: "Australia",
    City: "Launceston Airport",
  },
  {
    Country: "Australia",
    City: "Laverton Aerodrome",
  },
  {
    Country: "Australia",
    City: "Moorabbin Airport Aws",
  },
  {
    Country: "Australia",
    City: "Mount Gambier Aerodrome",
  },
  {
    Country: "Australia",
    City: "Mildura Airport",
  },
  {
    Country: "Australia",
    City: "Melbourne Airport",
  },
  {
    Country: "Australia",
    City: "Macquarie Island",
  },
  {
    Country: "Australia",
    City: "Wynyard West",
  },
  {
    Country: "Australia",
    City: "Adelaide Airport",
  },
  {
    Country: "Australia",
    City: "Albany Airport",
  },
  {
    Country: "Australia",
    City: "Broken Hill Patton Street",
  },
  {
    Country: "Australia",
    City: "Ceduna Airport",
  },
  {
    Country: "Australia",
    City: "Derby",
  },
  {
    Country: "Australia",
    City: "Darwin Airport",
  },
  {
    Country: "Australia",
    City: "Bullsbrook Pearce Amo",
  },
  {
    Country: "Australia",
    City: "Edinburgh M. O.",
  },
  {
    Country: "Australia",
    City: "Forrest Airport",
  },
  {
    Country: "Australia",
    City: "Geraldton Airport",
  },
  {
    Country: "Australia",
    City: "Kalgoorlie Boulder Amo",
  },
  {
    Country: "Australia",
    City: "Kununurra Kununurra Aws",
  },
  {
    Country: "Australia",
    City: "Leigh Creek Airport",
  },
  {
    Country: "Australia",
    City: "Learmonth Airport",
  },
  {
    Country: "Australia",
    City: "Meekatharra Airport",
  },
  {
    Country: "Australia",
    City: "Port Hedland Pardoo",
  },
  {
    Country: "Australia",
    City: "Parafield Airport",
  },
  {
    Country: "Australia",
    City: "Belmont Perth Airport",
  },
  {
    Country: "Australia",
    City: "Katherine Aerodrome",
  },
  {
    Country: "Australia",
    City: "Woomera Aerodrome",
  },
  {
    Country: "Australia",
    City: "Bankstown Airport Aws",
  },
  {
    Country: "Australia",
    City: "Canberra",
  },
  {
    Country: "Australia",
    City: "Coffs Harbour Mo",
  },
  {
    Country: "Australia",
    City: "Cooma",
  },
  {
    Country: "Australia",
    City: "Camden Airport",
  },
  {
    Country: "Australia",
    City: "Dubbo",
  },
  {
    Country: "Australia",
    City: "Norfolk Island Airport",
  },
  {
    Country: "Australia",
    City: "Nowra Ran Air Station",
  },
  {
    Country: "Australia",
    City: "Richmond Aus-Afb",
  },
  {
    Country: "Australia",
    City: "Sydney Airport",
  },
  {
    Country: "Australia",
    City: "Tamworth Airport",
  },
  {
    Country: "Australia",
    City: "Wagga Airport",
  },
  {
    Country: "Australia",
    City: "Williamtown Aerodrome",
  }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\GetWeather:application\x-www-form-urlencoded:GlobalWeatherHttp-Config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="c728ff95-b754-4234-8781-9f52fd7e04fc" doc:name="Reply Mock Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
{
  NewDataSet: {
    Location: "Melbourne",
    Time: "11 AM",
    Wind: "15 km per hr",
    Visibility: "10 km",
    SkyConditions: "sunny",
    Temperature: 18,
    DewPoint: "2 C",
    RelativeHumidity: 35,
    Status: "Normal"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	
</mule>
